<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodge Racing</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/dodge_racing/index.css')}}">
</head>
<body>
    <div id="loadingScreen">
        <div id="loader"></div>
    </div>

    <div id="mainContent">
        <div class="canvas">
            <div id="scores">
                <div id="highscoreBox">Highscore: <span id="highscore_display">0</span></div>
                <div id="scoreBox">Score: <span id="score_display">0</span></div>
            </div>
            <div>
                <canvas id="myCanvas" width="500px" height="500px">
                </canvas>
            </div>
            <div id="gameControls">
                <div class="controlItems" onclick="move_car('ArrowLeft')" id="move_left_btn">Left</div>
                <div class="controlItems" onclick="space_click()" id="start_btn">Start</div>
                <div class="controlItems" onclick="move_car('ArrowRight')" id="move_right_btn">Right</div>
            </div>
        </div>
        <div id="instructions">Press Space to start!</div>
        <div id="play_again" onclick="restartGame()">Play Again</div>
    </div>

    <script src="{{url_for('static', filename='js/dodge_racing/index.js')}}"></script>
</body>
</html>